In [9]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
df_sub=df[["Pclass","Sex","Age","SibSp","Parch","Fare","Embarked","Survived"]]

In [19]:
type(df_sub)

pandas.core.frame.DataFrame

In [20]:
df_sub.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked  Survived
0       3    male  22.0      1      0   7.2500        S         0
1       1  female  38.0      1      0  71.2833        C         1
2       3  female  26.0      0      0   7.9250        S         1
3       1  female  35.0      1      0  53.1000        S         1
4       3    male  35.0      0      0   8.0500        S         0

In [21]:
df_sub.isna().any()

Pclass      False
Sex         False
Age          True
SibSp       False
Parch       False
Fare        False
Embarked     True
Survived    False
dtype: bool

In [15]:
df_sub.isna().any()

Pclass      False
Sex         False
Age          True
SibSp       False
Parch       False
Fare        False
Cabin        True
Embarked     True
Survived    False
dtype: bool

In [41]:
x=df.drop(['Survived'],axis=1)
#y=dataprep["Survived"]
y=pd.DataFrame(df["Survived"],columns=["Survived"])
train_enc_cols= x.columns

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=123)

from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)

pred=lr.predict(x_test)

y_prob=lr.predict_proba(x_test)[:,1]

from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,pred)
score=lr.score(x_test,y_test)
from interpret_community.tabular_explainer import TabularExplainer
from interpret.ext.blackbox import TabularExplainer
classes=["",""]
features = list(X.columns)
tab_explainer = TabularExplainer(trained_model,
                                x_train,
                                features=features,
                                classes=classes)

ValueError: could not convert string to float: 'Frauenthal, Dr. Henry William'